p {
  width: 100%;
  margin: 0;
  padding: 1em 0;
}

.text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.note-info {
  display: flex;
  justify-content: space-between;
  color: #999;
}

.hover-parent:not(:hover) .actions {
  display: none;
}

.actions a {
  cursor: pointer;
}
