.MuiTextField-root {
  width: 100%;
}

.avatars {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 1rem;
}

.avatars .MuiAvatar-root {
  cursor: pointer;
}

.avatars .faded {
  opacity: 0.4;
}
